
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #0078D7;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.content {
  flex: 3;
  padding-right: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}

                                                                                    /* Parte dos contatos*/


.integrante {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.integrante img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.integrante .info {
  display: flex;
  flex-direction: column;
}

.nome {
  font-weight: bold;
  margin: 0;
}

.descricao {
  font-size: 0.9em;
  color: #0a7ac9;
  margin: 2px 0 0 0;
}

.tudo{
  width: 290px;
  height: 290px;
  margin-bottom: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  gap: 30px;
}
.tudo2{
  width: 290px;
  height: 290px;
  margin-bottom: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  gap: 30px;
}



                                                                            /* Responsividade para tablets e celulares */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .content, .sidebar {
    width: 100%;
    padding: 10px;
    box-shadow: none;
  }

  .tudo, .tudo2 {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .tudo img, .tudo2 img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  .integrante {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .integrante img {
    width: 120px;
    height: 120px;
  }

  .tudo, .tudo2 {
    width: 100%;
    height: auto;
    margin: 50px 0;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  header, footer {
    padding: 10px;
    text-align: center;
  }

  h1, h2, h3 {
    font-size: 1.2em;
  }

  .descricao {
    font-size: 0.8em;
  }
  .menu{
    background-color: rgb(0, 4, 252);
  }
  .escola{
    width: 600px;
    height: 400px;
  }
  .planta{
    width: 470px;
    height: 350px;
  }
  .video1{
    width: 470px;
    height: 350px;
  }
  .ip{
    width: 470px;
    height: 350px;
  }
 

}
